APP_NAME=P2BOYUAN
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
FRONTEND_URL=http://localhost

MYSQL_DATABASE=p2boyuan_v01
MYSQL_USER=p2boyuan
MYSQL_PASSWORD=change_me_local_mysql_password
MYSQL_ROOT_PASSWORD=change_me_local_root_password

BACKEND_APP_KEY=
