APP_NAME=P2BOYUAN
APP_ENV=production
APP_DEBUG=false
APP_URL=http://YOUR_SERVER_IP
FRONTEND_URL=http://YOUR_SERVER_IP

MYSQL_DATABASE=p2boyuan_v01
MYSQL_USER=p2boyuan
MYSQL_PASSWORD=change_me_mysql_password
MYSQL_ROOT_PASSWORD=change_me_root_password

BACKEND_APP_KEY=
